replicaCount: 1

imagePullSecrets:
  - name: helm-portal-registry

image:
  repository: helm-portal.dc-tech.work/images/test-app
  tag: "1.0.0"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 50m
    memory: 32Mi

nodeSelector: {}
tolerations: []
affinity: {}
