# Binaries and objects
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.scannerwork/*
# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.env

# Project specific
src/data
tmp
charts
src/tmp
letsencrypt
src/config/dc-consulting-home-pulumi.json
src/config/gcp-creds.json
**/secrets/*
helm/rendered.yaml
.scannerwork/report-task.txt
